
@{ 
    Layout = null;
}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                <h4 class="modal-title" id="myModalLabel">
                    @RenderSection("ModalTitle", required:false)
                </h4>
            </div>
            <div class="modal-body">
                @RenderBody()
            </div>
            <div class="modal-footer">
                @RenderSection("ModalFooter", required:false)
            </div>
        </div>
    </div>
</div>
